manifest {
  nextflowVersion = '>= 20.01.0'
}

params {
  executor = 'awsbatch'
  queue = "magesh-testing"
}


profiles
{
    batch
    {
        aws {
            region = 'eu-west-2'
            client.storageEncryption = 'AES256'
            batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
        }
        
        process {
            executor = params.executor
            container = 'nextflow/examples'
            queue = params.queue
        }
    }
    azure {
       azure {
        storage {
          accountName = "mageshtest1"
        }
        batch {
          location = 'ukwest'
          accountName = 'test1'
          deleteJobsOnCompletion = true
        }
    }
}
